$mint: #D2F1E4;
$lightpink: #FBCAEF;
$pink: #F865B0;
$magenta: #E637BF;
$purple: #48304D;

$blue: #083D77;
$beige: #EBEBD3;
$rouge: #DA4167;
$yellow: #F4D35E;
$orange: #F78764;

$gray: #56494E;

$color-theme-2: #33cccc;
$color--light-grey: #e0e0e0;
$color--fuschia: #eb01a5;
