

/*
  Used for SVG Path Animation
 */
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/*
  Used for Gradient Hover Effect
 */
@keyframes full-width {
  from {
    width:1px;
  }

  to {
    width:100%;
  }
}