@import 'var/colours.scss';
@import 'var/spacing.scss';
@import 'var/keyframes.scss';
@import 'var/responsive.scss';

// Base
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  position: relative;

  @media (max-width:$screen__m){
    width: 95%;
  }


  svg {
    position: absolute;
    max-width: 100%;
    transition: .5s;

    @media (max-width:$screen__m){
      transform: rotate(90deg);
      max-width: 150%;
      top: 50px;
    }
  }

  // Text content container
  &__content {
    width: 80%;
    padding: $indent 0;
    margin: 110px auto 0;
    text-align: center;
    z-index: 1;
    background: white;
    h2, span {
      font-size: 40px;
      padding: $indent_s;
      box-sizing: border-box;
      margin: $indent 0;
      background: $rouge;

      @media (max-width:$screen__m){
        font-size: 20px;
      }
    }

    h1 {
      display: block;
    }

    .role {
      display: block;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    h2 {
      display: inline-block;
      max-width: 300px;
      margin-bottom: 0;
    }
  }

  &__button{
    margin-top: $indent_l;
  }
}

// Learn More Button
.nav__button {
  padding: $indent;
  background: white;
  text-transform: uppercase;
  color: $gray;
  text-decoration: none;
  position: relative;
  transition: .5s;
  cursor: pointer;

  // Add Hover Gradient Effect
  &:hover{
    &:before {
      display: block;
      content:'';
      position:absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 50px;
      background-image: linear-gradient(60deg, $color-theme-2 25%, $color--fuschia 75%,  $color--light-grey 100%);
      mix-blend-mode: screen;
      animation: full-width 1s 1 forwards;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-image: linear-gradient(60deg, $color-theme-2 25%, $color--fuschia 75%,  $color--light-grey 100%);
    }
  }
}


// SVG Box
.swirly__path{
  stroke: $rouge;
  animation: dash 5s linear forwards;
}