/*
  Used for SVG Path Animation
 */
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

/*
  Used for Gradient Hover Effect
 */
@keyframes full-width {
  from {
    width: 1px; }
  to {
    width: 100%; } }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  position: relative; }
  @media (max-width: 875px) {
    .home {
      width: 95%; } }
  .home svg {
    position: absolute;
    max-width: 100%;
    transition: .5s; }
    @media (max-width: 875px) {
      .home svg {
        transform: rotate(90deg);
        max-width: 150%;
        top: 50px; } }
  .home__content {
    width: 80%;
    padding: 20px 0;
    margin: 110px auto 0;
    text-align: center;
    z-index: 1;
    background: white; }
    .home__content h2, .home__content span {
      font-size: 40px;
      padding: 10px;
      box-sizing: border-box;
      margin: 20px 0;
      background: #DA4167; }
      @media (max-width: 875px) {
        .home__content h2, .home__content span {
          font-size: 20px; } }
    .home__content h1 {
      display: block; }
    .home__content .role {
      display: block;
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
    .home__content h2 {
      display: inline-block;
      max-width: 300px;
      margin-bottom: 0; }
  .home__button {
    margin-top: 30px; }

.nav__button {
  padding: 20px;
  background: white;
  text-transform: uppercase;
  color: #56494E;
  text-decoration: none;
  position: relative;
  transition: .5s;
  cursor: pointer; }
  .nav__button:hover:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 50px;
    background-image: linear-gradient(60deg, #33cccc 25%, #eb01a5 75%, #e0e0e0 100%);
    mix-blend-mode: screen;
    animation: full-width 1s 1 forwards; }
  .nav__button:hover:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(60deg, #33cccc 25%, #eb01a5 75%, #e0e0e0 100%); }

.swirly__path {
  stroke: #DA4167;
  animation: dash 5s linear forwards; }
