@import 'var/colours.scss';
@import 'var/spacing.scss';

.home {
  display: flex;
  margin: $indent_l auto 0;
  width: 80%;
  max-width: 750px;

  svg {
    position: absolute;
  }

  &__content {
    margin: $indent_s 0 0 -$indent_s;
    z-index: 1;

    h2, span {
      font-size: 50px;
      background: white;
      padding: $indent_s;
      box-sizing: border-box;
      margin: $indent 0;
    }

    h1 {
      display: inline-block;
    }

    .role {
      display: block;
      width: 90%;
    }

    h2 {
      display: block;
      max-width: 300px;
    }
  }
}

.box__path{
  fill: $blue;
  stroke: $rouge;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}